body
{
	font-size:16px;	
	padding:0px;
	margin:0px;
}

label:hover, td:hover,input[type="button"]:hover, input[type="submit"]:hover
{
	cursor:pointer;
}


#menu2, #menu3, #menu4
{
	display:none;	
}

table
{
	margin-top:30px;	
}

td, tr, table
{
    border: 1px solid black;
    border-collapse: collapse;
}

td
{
	width:20px;
    height:20px;
}

td, #alerts
{
	text-align:center;
}	

.espace
{
	display:inline-block;
	margin-right:30px;
}


#alerts
{
	position:fixed;
	padding:10px;
	border-bottom:grey dashed 1px;	
	margin-top:0px;
	background-color:white;

	width:100%;
	position : fixed;
	top:0px;
		
}

.corps
{
	position:fixed;
	padding:10px;
	border:grey dashed 1px;	
	
	background-color:white;
	width:200px;
	top:50px;
}

.corps div
{
	margin-bottom:20px;
	background-color:rgb(206,212,255);	
	padding:2px;
	text-align:center;
}


#content
{
	margin-top:100px;
	margin-left:230px;	
}

table
{
		
}